@charset "utf-8";

html { padding:0; margin:0;}
body { position:relative; margin:0; padding:0; color:#666; font:normal 18px/28px Helvetice, Arial, sans-serif; background:#fff;}
.clr:after { content:""; display:block; height:0; overflow:hidden; font-size:0; line-height:0; clear:both;}

p { margin:0; padding:10px 0;}
a { color:#0000ff; text-decoration:underline;}
a:hover { color:#7777ff;}
a img { border:none;}
h1, h2, h3, h4, h5, h6 { margin:0; padding:0; font-weight:bold; color:#000;}
h1 { padding:40px 0 24px; line-height:1.4em;}
h2 { padding:0 0 12px;}
.fl { float:left;}
.fr { float:right;}
.fn { float:none;}
.tal { text-align:left;}
.tac { text-align:center;}
.tar { text-align:right;}
.ucase { text-transform:uppercase;}
.lcase { text-transform:none;}
.bold { font-weight:bold;}
.italic { font-style:italic;}
strong { font-weight:bold;}
em { font-style:italic;}
form, menu, iframe { display:block; margin:0; padding:0; border:none;}
ol, ul, dl, li, dt, dd { margin:0; padding:0; list-style:none;}
/*input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] { display:block; padding:11px 12px; height:38px; width:100%; color:#606060; font:normal 14px/16px Helvetice, Arial, sans-serif; background:#fff; border:none; border-radius:4px; box-shadow:none; box-sizing:border-box; -webkit-appearance:none; -moz-appearance:none;}
input.hidden { display:none;}
textarea { display:block; padding:11px 12px; color:#606060; resize:none; overflow:auto; font:normal 14px/20px Helvetice, Arial, sans-serif; background:#fff; border:none; border-radius:4px; box-shadow:none; box-sizing:border-box; -webkit-appearance:none;}
input[type="submit"] { font:normal 18px/21px Helvetice, Arial, sans-serif; color:#fff; text-transform:uppercase; cursor:pointer; border:none; border-radius:0; box-shadow:none; box-sizing:border-box; -webkit-appearance:none;}*/
* { outline:none;}

#mainwrapper { position:relative; overflow:hidden; width:100%; min-width:940px; background:#fff;}
.resize { position:relative; margin:0 auto; width:920px; padding: 0 20px;}
section { padding:40px 0;}
code, .code, pre { display:block; margin:10px 0 20px; padding:16px 20px; font-family: monospace; background:#ffffee; border:2px dashed #eeeebb;}
pre { font-size: 70%; line-height: 16px;}
strong { color:#000;}
.big { font-size: 150%;}
.small { font-size: 80%;}
.image { margin:10px 0 20px; padding:10px; text-align:center; border:1px solid #ccc;}
.image img { max-width:100%;}
.image p { padding-bottom:4px; font-style:italic;}
.danger { font-weight:bold; color:#ff0000;}
.black { color:#000;}
.light { opacity: 0.5;}

footer { padding:40px 0; border-top: 1px solid #aaa;}
footer .nav { font-size:24px; line-height:1.4em;}

.clear_example { padding:16px; font-size:140%; border:4px solid red;}
.clear_example.clr:after { content: 'clear: both;'; height:20px; background:green; font-size: 16px; line-height: 20px; color: #fff;}
.clear_example>div { padding:16px; border:2px solid blue;}
.clear_example>div:first-child { float:left; width:250px; height:60px;}
.clear_example>div:last-child { float:right; width:400px; height:80px;}
.noheight { padding: 20px 0 40px; font-size: 40px; font-weight: bold; color: #f00; text-decoration: line-through;}

.copycode { position: relative;}
.js-copy { position: absolute; right: 20px; top: 20px; padding: 10px 20px; font-size: 20px; color: grey; text-decoration: none; border: 1px solid grey; cursor: pointer;}

.fl_left {float: left;}
.fl_right {float: right;}
.align_center {text-align: center;}
.reg {font-weight: normal;}
.br {display: block;}

.bg_1 {height:632px; box-sizing:border-box; background:url(../images/free_vis_bg.jpg) 100% 100% no-repeat;}
.center {margin:0 auto; width:980px; padding:87px 0 74px 0;}
.grey_block {height:469px; width:100%; background: url(../images/free_vis_shadowbox.png) no-repeat;}
.title{padding-top:44px;}
.title_1 {display:block; font-weight:300; font-size:37px; text-align:center;}
.title_2{display:block;text-transform:uppercase; font-size:46px; text-align:center;}
.application {margin-left:40px; padding-top:30px;}
.application >.fl_left li {position:relative; font-size:20px; padding-left:28px; }
.application >.fl_left li:before {position: absolute; content: ""; background: url(../images/free_vis_list_item.png); width:7px; height:8px; left:0; bottom:8px; }
.application form {position:relative; padding:0 28px 0 40px;}
.application form:before {content:""; position: absolute; width:4px; height:251px; left:0;background: url(../images/free_vis_red_line.png) no-repeat; }
.application [type="text"] {box-sizing:border-box; height:37px; width:373px; padding:14px 0 14px 20px; margin-bottom:17px; border-radius:2px; font-size:14px; cursor:pointer;}
.application form p:first-of-type {padding-top: 15px;}
.application form p:nth-child(3) {margin-bottom:25px;}
#subm_btn {display: none;}
#subm_btn+label {display:inline-block; padding-left:262px; height:49px; background:url(../images/free_vs_certbtn.png); cursor:pointer;}
[type="text"]:hover {border:1px solid red;}

.guarantee {text-align: center; font-weight: 300; color:#333333;}
.guar_title {position:relative;padding-bottom:30px;color:#333333; text-align:center;text-transform:uppercase; font-size:61px; font-weight:300;}
.guar_title:before {position: absolute; content: ""; width:455px; height:11px; bottom:0;right:270px;background: url(../images/guarantee_line.png) no-repeat;}
.guar_title+p {padding:40px 0 45px; font-size:18px;}
.guarantee ul {display: table; width:100%;}
.guarantee ul li {display: table-cell; font-size:23px; font-weight:600; color:#333333;text-transform: uppercase;}
/*.guarantee ul {text-align:justify; font-size:0; line-height:0;}
.guarantee ul li {display: inline-block; font-size:23px; line-height: normal; text-align:center;}
.guarantee ul:after {content: ""; display: inline-block; width:100%; line-height: 0; font-size:0;}*/
.guarantee ul li img {display: block; position:relative; margin: 0 auto 34px; cursor:pointer;}
.jur_cases {display:block; padding-top:16px; font-size:17px; font-weight: normal; text-transform: none;}
